*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.message{
    height: 600px;
    background-color: rgb(71, 17, 17);
    padding-top: 3rem;
    padding-left: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.m1{
    background-color: antiquewhite;
    height: 500px;
    width: 400px;
    padding-top: 9rem;
    border-radius: 10px;
}
.m2{
    background-color: antiquewhite;
    height: 350px;
    width: 300px;
    margin-top: 5rem;
    margin-left: 4rem;
    border-radius: 10px;
}
input{
    padding: 10px 30px;
    border-radius: 10px;
    border: none;

}
form{
padding-left: 5rem;

}
.btn3{
    padding: 10px 20px;
    background-color: rgb(71, 17, 17);
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    margin-left: 3rem;
}
.get{
    margin-top: -5rem;
    text-align: center;
}
.add{
    padding-left: 2rem;
    padding-top: 1rem;
}
.con{
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
}
.chat{
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: antiquewhite;
  position: absolute;
  top: 10rem;
  left: 3rem;
}